<div class="d-flex flex-column h-100">

  <!--
  <header>
    <h1>{{title}}</h1>
    <nav>
      <a routerLink="/">Inicio</a> |
      <a routerLink="/add">Agregar Concierto</a>

    </nav>
  </header>
  -->

  <!-- Aquí se incluirá el componente de la barra de navegación -->
  <shared-sidebar></shared-sidebar>

  <!--
  <main>
    <router-outlet></router-outlet>
  </main>
  -->
  <fomobuster-home-page></fomobuster-home-page>
  <!--
  <footer>
    <p>&copy; 2024 {{title}}. Todos los derechos reservados.</p>
  </footer>
  -->

</div>





